@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap);

:root {
  --atention: #fe1a27;
  --fg: #F3F3F3;
  --fg2: #9599a2;
  --bg: #050e15;
  --bg2: #314151;
  --atention-dim: #d9105366;
  --blue: #579fec;
  --name: #30df62;
  --good-dim: #1183415d;
  --price: #b6ec21;
}

* {
  /* border: 1px dashed red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-style: none;
  outline: none;
}

.main {
  position: relative;
  font-family: 'Montserrat';
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  min-height: calc(100vh - 40px);
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  gap: 25px;
  z-index: 2;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input__container {
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 8px; 
  border-radius: 50px;
  background-color: var(--bg2);
}

.input {
  width: 75%;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 600;
  color: var(--fg);
  background-color: transparent;
}

.btn {
  /* right: 0; */
  /* position: absolute; */
  transition: all 0.5s;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  color: var(--bg);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--blue);
}

.btn:hover {
  transition: all 0.2s;
  transform: scale(1.07);
}

.msg-container {
  position: relative;
  min-height: 190px;
}

.back {
  min-width: 410px;
  position: absolute;
  font-size: 180px;
  bottom: calc(40% - 160px);
  color: var(--bg2);
  opacity: 0.1;
}



h1 {
  padding: 0 25px;
  font-size: 2.5rem;
  color: var(--blue);
  font-weight: 800;
  text-align: center;
}

h2,
h3 {
  font-size: 2.5rem;
  text-align: center;
  padding: 10px 30px;
}

h2 {
  font-weight: 600;
  color: var(--name);
  --fa-beat-scale: 1.4;
  --fa-animation-duration: 1s;
  --fa-animation-iteration-count: 1;
  --fa-animation-timing: ease-in-out;
}

h3 {
  font-weight: 800;
  color: var(--price);
  font-family: 'Montserrat';
  --fa-animation-duration: 1.3s;
  --fa-animation-iteration-count: 1;
  --fa-animation-timing: ease-in-out;
}

.error {
  color: var(--atention);
  font-size: 1.3rem;
}

.input--error {
  background-color: var(--atention-dim);
}

.fa-heart {
  color: var(--atention);
}

.footer {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 40px;
  background-color: var(--fg2);
  color: var(--bg);
  font-family: 'Montserrat';
}

.footer>span {
  font-weight: 800;
}
