@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap);

:root {
  --atention-color: rgb(183, 37, 37);
  --fg-color: white;
  --bg-color: rgb(14, 20, 2);
  --bg2-color: rgb(32, 33, 40);
  --atention-dim: rgb(80, 23, 23);
}

* {
  /* border: 1px dashed red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-style: none;
  outline: none;
}

.main {
  position: relative;
  font-family: 'Montserrat';
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  min-height: calc(100vh - 40px);
  overflow: hidden;
}

.fa-magnifying-glass-dollar {
  --fa-animation-duration: 8s;
  position: absolute;
  opacity: 0.5;
  font-size: 50rem;
  /* z-index: 0; */
  color: var(--bg2-color);
}

.fa-shake {
  font-family: 'Montserrat';
  --fa-animation-duration: 3s;
  --fa-animation-iteration-count: 1;
  --fa-animation-delay: 0.5s
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  gap: 25px;
  z-index: 2;
}

.input {
  width: 80%;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 600;
  color: var(--fg-color);
  background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input__container {
  transition: all 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90px;
  padding: 15px; 
  border-radius: 10px;
  background-color: var(--bg2-color);
}

.msg-container {
  min-height: 190px;
}

.btn {
  transition: all 0.5s;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  color: var(--fg-color);
  padding: 5px 20px;
  border-radius: 5px;
  background-color: var(--atention-color);
}

.btn:hover {
  transition: all 0.2s;
  transform: scale(1.07);
}

h1 {
  padding: 0 25px;
  font-size: 2.5rem;
  color: rgb(32, 221, 15);
  font-weight: 800;
  text-align: center;
}

h2 {
  --fa-beat-scale: 1.4;
  --fa-animation-duration: 1s;
  --fa-animation-iteration-count: 1;
  --fa-animation-timing: ease-in-out;
}

h2,
h3 {
  color: rgb(74, 105, 230);
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  padding: 10px 30px;
}

h3 {
  font-weight: 800;
  color: rgb(231, 173, 15);
  font-family: 'Montserrat';
  --fa-animation-duration: 1.3s;
  --fa-animation-iteration-count: 1;
  --fa-animation-timing: ease-in-out;
}

.error {
  color: var(--atention-color);
  font-size: 1.3rem;
}

.input--error {
  background-color: var(--atention-dim);
}

.fa-heart {
  color: var(--atention-color);
}

.footer {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 40px;
  background-color: var(--bg2-color);
  color: var(--fg-color);
  font-family: 'Montserrat';
}

.footer>span {
  font-weight: 800;
}
