@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap);

* {
  /* border: 1px dashed red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-style: none;
  outline: none;
}

.main {
  padding-top: 60px;
  font-family: 'Montserrat';
  background-color: rgb(14, 20, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: antiquewhite;
  gap: 50px;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.input {
  width: 80%;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 600;
  color:antiquewhite;
  background-color: rgb(32, 33, 40);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  padding: 15px; 
  border-radius: 10px;
  background-color: rgb(32, 33, 40);
}

.btn {
  cursor: pointer;
  color: antiquewhite;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: rgb(183, 37, 37);
}

.input--error {
  /* color: red; */
  background-color: rgb(80, 23, 23);
}

.pizzas--error {
  color: red;
}
